*,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    font: inherit;
    font-family: Helvetica, sans-serif;
  }

  :root {
    --color-purple-main: #8072da;
    --color-purple-secondary: #7972da;
    --color-black: #2e2e2e;
    --color-gray: rgb(222, 231, 236);

    --gap: 0.5rem;
  }

  body {
    background-color: var(--color-gray);
  }

  .container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(10px, 20rem) minmax(10px, 3fr);
    grid-template-rows: min-content min-content min-content 3fr;
  }

  .header {
    grid-column: 2 / -1;
  }
  .nav {
    grid-column: 2 / 3;
  }

  .header, .nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
  }
  .left, .right {
    display: flex;
  }

  .sidebar {
    color: white;
    background-color: var(--color-purple-secondary);
    grid-column: 1 / 2;
    grid-row: 1 / 4;

    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    line-height: 2rem;
  }
  .flex-group {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .cards-container {
    display: flex;
  }
  .cards {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  }

  .projects-announcements-titles {
    grid-column: 1 / -1;
    margin-left: 1rem;
    margin-top: 1.5rem;
  }

  .card {
    width: 22rem;
    height: 12rem;
    background-color: white;
    border-radius: 6px;
    padding: 16px;
    margin: 0.5rem 1rem 1rem 1rem;
  }


  @media (width > 1600px) {
    .card { width: 30rem; height: 15rem; }
  }

  .card-long {
    height: 17rem;
    width: 20rem;
  }

  .profile-container {
    display: flex;
    gap: .7rem;
    padding-bottom: 1rem;
  }


































  input {
    border-radius: 18px;
    border-style: none;
    background-color: var(--color-gray);
    height: 1.4rem;
    width: 35rem;
  }

  button {
    color: white;
    background-color: var(--color-purple-main);
    font-weight: 600;
    padding: 10px 32px;
    border-style: none;
    border-radius: 18px;
  }


  .logo {
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  .buttons-list ul {
    display: flex;
    gap: var(--gap);
  }

  .card-links ul {
    display: flex;
    gap: 2rem;
  }

  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  .search-icon, .bell-icon {
    font-size: 22px;
  }

  .header-pfp, .card-long img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  .nav-pfp {
    border-radius: 50%;
    width: 65px;
    height: 65px;
  }

  .right-cards {
    display: flex;
    flex-direction: column;
  }