@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,400;1,500&display=swap');

*,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    font: inherit;
    font-family: 'Roboto', sans-serif;
    
  }

  :root {
    --color-purple-main: #8072da;
    --color-purple-secondary: #7972da;
    --color-black: #2e2e2e;
    --color-gray: rgb(222, 231, 236);
    --color-clear-text: rgb(92, 101, 110);
  }

  body {
    background-color: var(--color-gray);
    overflow-x: hidden;
  }

  .container {
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: minmax(10px, 17rem) minmax(10px, 3fr);
    grid-template-rows: min-content min-content min-content 3fr;
  }

  .header {
    grid-column: 2 / -1;
  }
  .nav {
    grid-column: 2 / 3;
    box-shadow: 0 7px 6px -6px var(--color-black);
  }
  .nav .welcome-msg {
    font-size: .8rem;
  }
  .nav-profile-name {
    font-size: 1.1rem;
  }


  .header, .nav {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
  }
  .left, .right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .right {
    margin-right: 2rem;
  }

  .sidebar {
    color: white;
    background-color: var(--color-purple-secondary);
    grid-column: 1 / 2;
    grid-row: 1 / 5;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    line-height: 2.6rem;
    font-size: 1.2rem;
  }
  .flex-group {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-left: 1.5rem;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: .5rem;

    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .cards-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .cards {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr;

  }

  .projects-announcements-titles {
    grid-column: 1 / -1;
    margin-left: 1.5rem;
    margin-top: 1.7vw;
  }

  .card {
    font-size: 1.1rem;

    width: 24rem;
    height: 13rem;
 
    background-color: white;
    border-radius: 6px;
    padding: 16px;
    margin-block: .7rem;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .strip {
    border-left: 9px solid var(--color-purple-main);
  }
  
  .card-links {
    margin: auto 2rem .5rem auto;
  }

  @media (width > 1600px) {
    .cards { grid-template-columns: 1fr 1fr 1fr }
    .card { width: 26rem; height: 17rem; font-size: 1.3rem; }
    .card-long { width: 22rem; height: 18rem;}
  }

  .card-long {
    width: 17.5rem;
    height: 18.5rem; 
    gap: .3rem;
    margin-right: 2rem;
  }

  .announcements p {
    font-size: .8rem;
    margin-bottom: .5rem;
  }
  .bottom-line {
    border-bottom: 1px solid rgb(159, 168, 176);
    padding-bottom: .9rem;
  }
 
.font-small {
  font-size: .9rem;
}

  .trending {
    width: 17rem;

    line-height: 1.2rem;
    height: 17rem;
  }
  
  .profile-container {
    display: flex;
    gap: .7rem;
    padding-bottom: 1rem;
  }


































  input {
    border-radius: 18px;
    border-style: none;
    background-color: var(--color-gray);
    height: 1.4rem;
    width: 35rem;
  }

  button {
    color: white;
    background-color: var(--color-purple-main);
    padding: 9px 32px;
    border-style: none;
    border-radius: 18px;
  }


  .buttons-list ul {
    display: flex;
    gap: 2.5rem;
  }



  .search-icon, .bell-icon {
    font-size: 22px;
  }
  .header-pfp, .card-long img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  .nav-pfp {
    border-radius: 50%;
    width: 65px;
    height: 65px;
  }


  .header, .nav, .sidebar {
    font-weight: 600;
  }
  .projects-announcements-titles, .sub-title, .title {
    font-weight: 500;
  }

  .announcements p, .profile-info p {
    color: var(--color-clear-text);
  }

  a {
    text-decoration: none;
    color: white;
  }

  .card-links ul {
    display: flex;
    gap: 2rem;
  }
  .card-links a {
    color: black;
  }

  ul {
    list-style: none;
  }
  svg, button, .sidebar-item, .profile-container, .logo {
    cursor: pointer;
  }
